.cr_1c {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cr_1d {
  max-width: 1000px;
  width: 100%;
}

.cr_1e {
  font-size: 26px;
  font-weight: 700;
  color: #484848;
  margin-top: 35px;
}

.cr_1g {
  font-size: 13px;
  color: #474747;
  display: flex;
  position: sticky;
  top: 63px;
  background-color: white;
  box-shadow: 2px 8px 6px rgba(0, 0, 0, 0.103) ;
  padding: 0px 2%;
  margin: 5px 0px;
  font-weight: 500;
}

.cr_1g_a {
  padding: 10px 25px 10px 0px;
  cursor: pointer;
}

.cr_1h {
  width: 100%;
  border: 1.5px solid #e1e1e1;
  border-radius: 6px;
  display: flex;
}

.cr_1i {
  width: 100%;
  max-width: 480px;
}

.cr_1j {
  height: 303px;
  border-top-left-radius: 6px;
  background-color: wheat;
}

.cr_1k {
  padding: 0px;
  margin: 7px;
  object-fit: cover;
  height: 35px;
}

.cr_1m {
  margin-left: 20px;
  width: 100%;
}

.cr_1n {
  border-left: 1.5px solid #e1e1e1;
  border-bottom: 1.5px solid #e1e1e1;
  width: 100%;
  max-width: 250px;
  padding: 16px;
}

.cr_1p {
  color: #6f6f6f;
  font-size: 13px;
}

.cr_1q {
  font-size: 13px;
  padding-top: 10px;
  font-weight: 600;
  color: #484848;
}

.cr_1s {
  display: flex;
  justify-content: space-between;
}

.cr_1x {
  font-size: 22px;
  font-weight: 600;
  color: #484848;
  padding: 22px 8px 9px 12px;
}

.cr_1y {
  color: #6f6f6f;
  font-size: 14px;
  padding: 0px 12px 12px 12px;
}

.cr_1z {
  margin-right: 15px;
  background-color: #fbfbfb;
  padding: 10px;
  padding-left: 20px;
}

.cr_1u {
  display: flex;
  justify-content: space-between;
}

.cr_1aa {
  font-size: 15px;
  color: #484848;
}

.cr_1ab {
  font-size: 12px;
  font-weight: 600;
  color: #0288d1;
  padding-top: 4px;
  cursor: pointer;
}

.cr_1ac {
  border: 1px solid #00afa0;
  color: #00afa0;
  border-radius: 3px;
  padding: 8px 23px;
  font-size: 12px;
  font-weight: 600;
  height: 14px;
  cursor: pointer;
}

.cr_1ad {
  font-size: 15px;
  color: #0288d1;
  padding: 18px 0px;
  cursor: pointer;
}

.cr_1f {
  display: flex;
  padding: 15px 0px;
}

.cr_1f_a {
  height: 14px;
  color: #00afa0;
  margin-right: 10px;
}

/* .cr_1b {
  padding: 6px 20px;
  background-color: white;
  box-shadow: 0px 2px 5px rgb(235, 235, 235);
  position: sticky;
  top: 0px;
  align-items: center;
  display: flex;
}

.cr_1b1 {
  height: 38px;
} */

.cr_1ae {
  background-color: #e53012;
  padding: 13px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  width: 280px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cr_1af {
  border: 1.5px solid #e1e1e1;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.cr_1ag {
  width: 25px;
  height: 25px;
  margin: 0px 10px;
  margin-left: 30px;
  background-color: #00afa0;
}

.cr_sp_b {
  width: 100%;
  margin: 6px 0px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.cr_sp_c {
  background-color: #fbfbfb;
  border: 1px solid #efefef;
  padding: 10px;
  width: calc(50% - 24px);
}

.cr_sp_d {
  font-size: 12px;
  padding: 3px 0px;
  color: #aaaaaa;
}

.cr_sp_e {
  font-weight: bold;
  padding: 3px 0px;
  color: #484848;
}

.cr_sm_b {
  background-color: #fbfbfb;
  border: 1px solid #efefef;
  border-radius: 5px;
  padding: 10px 20px;
}

.cr_sm_d {
  font-weight: bold;
  padding: 10px 0px;
  color: #6f6f6f;
}

.cr_sm_e {
  font-size: 15px;
  padding-bottom: 3px;
  color: #6f6f6f;
}
